# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\BaiduNetdiskDownload\My_demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
